445-A8-A9-Team15/Connected Services/AllServices/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar164.fulton.asu.edu/page6/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="MetricToImperial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metricType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imperialType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetricToImperialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MetricToImperialResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImperialToMetric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imperialType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="metricType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImperialToMetricResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImperialToMetricResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userInput" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SortServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeSort">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nums" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeSortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MergeSortResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Merge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="left" nillable="true" type="q3:ArrayOfint" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="right" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MergeResult" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateHourFromUTC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hr" type="xs:int" />
        <xs:element minOccurs="0" name="min" type="xs:int" />
        <xs:element minOccurs="0" name="offs" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
        <xs:element minOccurs="0" name="pd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateHourFromUTCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateHourFromUTCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateHourToUTC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hr" type="xs:int" />
        <xs:element minOccurs="0" name="offs" type="xs:int" />
        <xs:element minOccurs="0" name="pd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateHourToUTCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateHourToUTCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToUTC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hr" type="xs:int" />
        <xs:element minOccurs="0" name="min" type="xs:int" />
        <xs:element minOccurs="0" name="pd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="srcZone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="daylightSavings" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToUTCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertToUTCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertFromUTC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hr" type="xs:int" />
        <xs:element minOccurs="0" name="min" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
        <xs:element minOccurs="0" name="pd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destZone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="daylightSavings" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertFromUTCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertFromUTCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopWords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStopWordsResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WordFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WordFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WordFilterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StemmedWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StemmedWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StemmedWordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopTenContentWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopTenContentWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TopTenContentWordsResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>